<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polaris.he.framework.dao.CategoryDao">

    <select id="getByCode" resultType="com.polaris.he.framework.dao.object.CategoryDO">
        select
          code as code,
          name as name
        from category
        where code=#{code,jdbcType=VARCHAR} and type=#{type,jdbcType=VARCHAR}
    </select>

    <select id="getCategoriesByType" resultType="com.polaris.he.framework.dao.object.CategoryDO">
        select
          code as code,
          name as name
        from category
        where type=#{type,jdbcType=VARCHAR}
    </select>
</mapper>